<!-- menu navbar -->
<div class="container">
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/blak-bkg.png">
      </div>
      <a href="#user"><img class="circle" src="images/blue-crest.png"></a>
      <a href="#name"><span class="lightblue-text name" style="text-align: center;">Intercodetinental</span></a>
      <a href="#email"><span class="white-text email">Web Programming <br> Graphic Design <br> UX/UI</span></a>
    </div></li>
    <!-- <li><a href="index.html"><i class="material-icons icon-green">domain</i>Home</a></li> -->
    <li><a href="/about"><i class="material-icons">chrome_reader_mode</i>About</a></li>
    <li><a href="/services"><i class="material-icons">developer_mode</i>Services</a></li>
    <li><a href="/websites"><i class="material-icons">devices</i>Websites</a></li>
    <li><a href="/contactMe"><i class="material-icons icon-green">mail_outline</i>Contact</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Located</a></li>
    <li><a class="waves-effect" href="#!">Houston, TX, USA</a></li>
    <li><a class="subheader">Contact:  <span style="color: rgb(51, 48, 250);">German</span> </a></li>
    <li><a class="waves-effect" href="tel:8325970687">(832)-597-0687</a></li>
    <li><a class="waves-effect" href="mailto:intercodetinental@outlook.com" target="_null">intercodetinental@outlook.com</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">menu</i></a>
        </div>


        <script src="js/navbar.js"></script>

{{!-- goes on all pages --}}