<img src="images/houston.jpg" class="img-fluid" alt="Responsive image">
{{!--   to add image to site use """ images / then.name.of.img" --}}
{{!--   first must add this in app.js --}}
{{!-- app.use(express.static('public')); --}}


<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1>Location</h1>
            <h4>Located in the heart of Houston, Tx <br> <br>
                I am able to go to your business location and start designing any ideas you might have for your website.
                If you are in Bellaire, Kingwood, Pearland, Katy or any part around the city
                <br> <br>
                Lets begin making your vision a reality</h4>
        </div>

    </div>
</div>


<br>
<br>
<br>


<img src="images/programing.jpeg" class="img-fluid" alt="Responsive image">

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1>Commitment</h1>
            <h4>I am determine to create yor website from scratch. <br>
                Creating something from the ground up and making it succeed and grow your business, it will take time
                and effort but at the end it will be all worth it.
                <br>
                I am commited to make the best site for your business and to get you more customers.</h4>
        </div>
    </div>
</div>

<br>
<br>
<br>

<img src="images/laptop.jpeg" class="img-fluid" alt="Responsive image">

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col s12 m12 l12">
            <h1>Skills</h1>
            <h4> I am efficient in HTML, CSS and JavaScript language, <br>
                with knowledge in photoshop and illustrating any creative idea that you might want for your business.
                <br> <br>
                You are welcome to take a look at some of the sites I designed</h4>
        </div>
    </div>
</div>



<style>
    body {
        background-image: url('images/blak-bkg.png');
    }

    h1 {
        color: rgb(5, 5, 231);
    }

    h4 {
        color: rgb(242, 249, 255);
    }
</style>