<div class="parallax-container">
          <div class="parallax"><img src="images/houston.jpg"></div>
        </div>
        <div class="section transparent">
          <div class="row container">
            <h2 class="header blue-text" style="text-align: center;">ENVIRONMENT</h2>
            <p class="white-text text-darken-3 lighten-3" style="text-align: center;">Located in the heart of Houston, Tx <br>
              I am able to go to your business location and start designing any ideas you might have for your website. <br>
              If you are in Bellaire, Kingwood, Pearland, Katy or any part around the city <br><br>
              Lets begin making your vision a reality
            </p>
          </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="images/laptop.jpeg"></div>
          </div>
          <div class="section transparent">
            <div class="row container">    
              <h2 class="header blue-text" style="text-align: center;">COMMITMENT</h2>
              <p class="white-text text-darken-3 lighten-3" style="text-align: center;">I am determine to create yor website from scratch.  <br>
                Creating something from the ground up and making it succeed and grow your business, it will take time and effort but at the end it will be all worth it. <br>
                <br>
                I am commited to make the best site for your business and to get you more customers.
              </p>
            </div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="images/programing.jpeg" ></div>
          </div>
          <div class="section transparent">
            <div class="row container">
              <h2 class="header blue-text" style="text-align: center;">SKILLS</h2>
              <p class="white-text text-darken-3 lighten-3" style="text-align: center;">I am efficient in HTML, CSS and JavaScript language, <br>
                 with knowledge in photoshop and illustrating any creative idea that you might want for your business.
                <br>
                You are welcome to take a look at some of the sites I designed <br> <a href="/websites"><i class='medium material-icons'>language</i></a>
              </p>
            </div>
          </div>
            <div class="parallax-container">
              <div class="parallax"><img src="images/signup.jpeg" ></div>
            </div>



<style>
        body {background-image: url('images/blak-bkg.png');}
        p {color: whitesmoke;
            text-align: center;}
            
</style>