<img src="images/intercode-imag.png" class="img-fluid" alt="Responsive image">

<br>
<br>
<br>


<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col s12 m12 l12">
            <h3 style="color: rgb(241, 241, 241);">
                Providing High Quality and Professional UX / UI Designs
                <br>
                Creating Elegant and Bold Websites
            </h3>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('images/blak-bkg.png');
    }
</style>


{{!-- contact me page  connected to app.js and folder user/ contact --}}