<div class="jumbotron text-center">
    <h1 class="display-5">
       Intercodetinental</h1>
        <p class='lead'>Welcome</p>
        <a href="/contactMe" class="btn btn-dark btn-lg">Contact Me</a>
    
</div>


{{!-- contact me page  connected to app.js and folder user/ contact --}}