<div class="container">
    <div class="row">

        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/draw.jpg">
                    <span class="card-title">Illustration</span>
                </div>
                <div class="card-content">
                    <p>From illustrating it on a piece of paper to bringing it to life</p>
                </div>
            </div>
        </div>




        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/graphic.jpg">
                    <span class="card-title">Graphic Design</span>
                </div>
                <div class="card-content">
                    <p>Any Designs that you want to promote, I will help you in creating it and get people's attention
                    </p>
                </div>
            </div>
        </div>




        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/webdesign.jpg">
                    <span class="card-title">Web Design</span>
                </div>
                <div class="card-content">
                    <p>Build from scratch and customizing it to your perfection. Dedication to making sure your site has
                        all the elements it needs to stand out.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/seo.jpg">
                    <span class="card-title">SEO</span>
                </div>
                <div class="card-content">
                    <p>Want to be rank highest amongs others, I will provide as much detail to get you more traffic to
                        your site</p>
                </div>
            </div>
        </div>




        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/logo.png">
                    <span class="card-title">Logo</span>
                </div>
                <div class="card-content">
                    <p>Create and design your very own custom logo</p>
                </div>
            </div>
        </div>


        <div class="col s12 m12 l4">
            <!-- draw -->
            <div class="card">
                <div class="card-image">
                    <img src="images/mobile.jpg">
                    <span class="card-title">Mobile Response</span>
                </div>
                <div class="card-content">
                    <p>Get in touch with your clients from any device.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('images/blak-bkg.png');
    }

    .card-content {
        background-color: rgb(28, 98, 141);
    }

    .card-title {
        background-color: black;
    }

    p {
        color: linen;
    }
</style>